*{
	position: relative;
	font-family: arial, sans-serif;
}

#navbar {
	top: 0;
	width: 100%;
	height: 4em;
}

#signin {
	margin-top: 15px;
	margin-right: 30px;
	padding: 7.5px 15px;
	background-color: #0266C8;
	text-align: center;
	font-size: 10pt;
	color: #FFF;
	font-weight: 600;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

li {
	line-height: 4em;
	margin-top: 50%;
	/*padding: 0.125em;*/
	display: inline;
	float: right;
	font-size: 10pt;
}

a {
	text-decoration: none;
	color: #333;
	display: block;
	width: 45px;
}

a:hover {
	text-decoration: underline;
}

p {
	text-align:center
	color: black;
	font-size: 2px;
}
