html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

*{
	font-family: arial, sans-serif;
    font-size: 10pt;
}

#navbar {
	top: 0;
    margin: 0;
	width: 100%;
	height: 4em;
}

#signin {
	margin-top: 11.5px;
	margin-right: 30px;
    margin-left: 50px;
    border-radius: 2px;
	padding: 7.5px 15px;
    /*width: 70px;
    height: 30px;*/
	background-color: #4285F4;
	color: #FFF;
	font-weight: 800;
	text-align: center;
    vertical-align: middle;
}

#signinlink {
    text-decoration:none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footer_left, #footer_right {
    color: #666;
}

#footer_left {
    margin-right: 30px;
}

#footer_right {
    margin-left: 30px;
}

#navbar ul {
    float: right;
}

li {
	/*line-height: 4em;
	float: right;
	font-size: 10pt;*/
}

#navbar li {
    float: right;
    line-height: 4em;
}

#footer li {
    line-height: 3em;
}

#navbar a {
	text-decoration: none;
	color: #333;
	display: block;
	width: 50px;
}

a {
	text-decoration: none;
}

#navbar a:hover, #footer a:hover {
	text-decoration: underline;
}

p {
	text-align:center
	color: black;
	font-size: 2px;
}

.right {
    float: right;
}

.left {
    float: left;
}

#footer {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3em;
    background-color: #EEE;
    border-top: 1px solid #DDD;
}

#logo, #search_bar {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 269px;
    height: 95px;
	margin-top: 10em;
}
#search_bar {
	margin-top: 2em;
	width: 575px;
	height: 28px;
	border: 1px solid #CCC;
	font-size: 12pt;
}

#search_bar:hover {
	border-color: #AAA;
}

#search_bar:focus {
	border-color: #4285F4;
}

#button_container {
	text-align: center;
	width: 575px;
	/*height: auto;*/
	margin-right:auto;
	margin-left: auto;
}


#search_button, #flucky {
	margin-top: 15px;
	display: inline-block;
	padding: 7px 10px;
	background-color: #EEE;
	color: #222;
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid #CCC;
	border-radius: 1px;
}

#search_button:hover, #flucky:hover {
	background-color: #EDEFF2;
	border: 1px solid #BBB;
	box-shadow: -0.5px 0.5px 1px 0 #AAA;
}
